body {
  #contentHome {
    margin: 5rem 2rem 2rem 12rem;

    h1 {
      font-size: 3.6rem;
      font-weight: 900;
    }

    h2 {
      color: grey;
      font-size: 2.4rem;
      font-weight: 600;
    }

    .header-home {
      margin-bottom: 3rem;
    }
  }

  .image-home {
    max-width: 34.5rem;
    text-align: center;

    &.big {
      img {
        height: 95%;
        width: 95%;
      }
    }

    &.bigger {
      img {
        height: 120%;
        width: 120%;
      }
    }

    &.small {
      img {
        height: 75%;
        width: 75%;
      }
    }
  }
}
