html,
body {
  height: 100%;
}
html {
  font-size: 10px;
}

@include headings {
  font-weight: 900;
  margin-bottom: 2rem;
}

body {
  background: url("../images/web_\ code.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: $bbcs-fSize;

  h1 {
    font-size: 2.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  header {
    a {
      color: $bbcs-cFont;
      font-weight: 600;
      text-decoration: none;

      &:active,
      &:hover,
      &:focus {
        background-color: lightgrey;
        color: inherit;
        text-decoration: inherit;
      }
    }
  }

  img {
    &.big {
      height: 95%;
      width: 95%;
    }

    &.bigger {
      height: 120%;
      width: 120%;
    }

    &.madnerd {
      max-width: 40rem;
    }

    &.medium {
      height: 85%;
      width: 85%;
    }

    &.small {
      height: 75%;
      width: 75%;
    }

    &.smaller {
      height: 65%;
      width: 65%;
    }

    &.smallest {
      height: 50%;
      width: 50%;
    }
  }

  main {
    margin-left: $bbcs-wSideNav;
    margin-top: 4rem;
    padding: 2rem 3.6rem;
  }

  &.dark {
    header {
      a {
        color: $bbcs-cFontDark;

        &:active,
        &:hover,
        &:focus {
          background-color: #555555;
        }
      }
    }
  }
}
