body {
  .bbcs-card {
    background-color: $bbcs-cFontDark;
    border: $bbcs-cFont 1px solid;
    border-radius: 1.25rem;
    box-shadow: rgb(128, 128, 128) 0px 4px 0.9rem;
  }

  &.dark {
    .bbcs-card {
      background-color: $bbcs-cFont;
      border-color: $bbcs-cFontDark;
    }
  }
}

body,
body.dark {
  .side-links,
  .show,
  .hide:target {
    display: none;
  }

  .hide,
  .show {
    padding: 1rem 0 1rem 1rem;
  }

  .hide {
    display: block;
  }

  .hide:target + .show,
  .hide:target ~ .side-links {
    display: block;
  }
}
