// Local variables for C & S Games - all variables prefaced by csg-
// Key:  c - color; f - font;  m - margin: w - width

$bbcs-cActivityBar: #dddddd;
$bbcs-cActivityBarDark: #253340;
$bbcs-cArticleBar: #e8e8e8;
$bbcs-cArticleBarDark: #0e1419;
$bbcs-cBackground: white;
$bbcs-cBackgroundDark: black;
$bbcs-cFont: black;
$bbcs-cFontDark: white;
$bbcs-fSize: 1.6rem;
$bbcs-wContainer: 120rem;
$bbcs-wContainerContent: 86.8rem;
$bbcs-wActivityBar: 4rem;
$bbcs-wSideNav: 26rem;
